@media (min-width:0px){
.sobre--nos{
    height: 45rem;
    padding: 10rem 6.5rem;
}

.container__sobre--nos{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.titulo__sobre--nos{
    font-family: var(--poppins);
    font-weight: 600;

    font-size: 3rem;
    color: #333333;
}

.sub__sobre--nos{
    font-family: var(--poppins);
    font-weight: 400;
    font-size: 1.5rem;
    padding-top: 1rem;

    background: url(/Assets/Line\ 2.svg);

    background-repeat: no-repeat;
}

.descricao__sobre--nos{
    font-family: var(--roboto);
    font-weight: 400;

    color: #666666;   
    line-height: 1.4rem;
    
    margin-right: 9.5rem;
    margin-bottom: 4rem;
}

.conteudo__sobre--nos{
    display: flex;
    flex-direction: column;
}

.imagem__sobre--nos{
    display: flex;
    flex-direction: row; 
}
.imagem__item{
    margin-left: 1rem;

    width: 18.5rem ;
    height: 26.5rem;
}

.button__verMais--mobile{
    display: none;
    background-color: var(--primary-pure);
    color: #FFFFFF;
    border: none;

    color: #FFFFFF;
    font-weight: 500;
    font-family: var(--roboto);

    padding: 1.2rem 3rem;
    margin-top: 3.75rem;
    margin-bottom: 8.313rem;
    margin-left: 2rem;
    width: 10rem;
}
}